.wrapper-body
  .main-content
    %section.my-2#extracted-file
      .container.bg-light-green.pt-2.shadow-box#crawler-status-box
        .row-fluid.text-center
          %b
            %code= @txt_pathname
        .row-fluid
          %small
            %pre= @page1

    %section.my-2#parsing
      .row-fluid
        TODO - WIP
