%tr{ class: grid.respond_to?(:row_class) ? grid.row_class(asset).to_s : '' }
  - grid.html_columns(*options[:columns]).each do |column|
    - if column.name == :actions
      %td{ data: { column: column.name } }
        = render(Grid::RowToolbarComponent.new(asset_row: asset, controller_name: controller_name,
                                               edit: column.options[:edit],
                                               destroy: column.options[:destroy],
                                               clone: column.options[:clone],
                                               expand: column.options[:expand],
                                               label_method: column.options[:label_method]))
    - else
      - tag_options = column.respond_to?(:tag_options) ? column.tag_options : {}
      - css_classes = Array(tag_options[:class])
      - if column.options[:align].present? && column.options[:align] == :center
        - css_classes << 'text-center'
      - if column.options[:align].present? && column.options[:align] == :right
        - css_classes << 'text-right'
      - css_classes << 'datagrid-order-active-asc' if grid.ordered_by?(column, false)
      - css_classes << 'datagrid-order-active-desc' if grid.ordered_by?(column, true)
      %td{ tag_options.merge('data-column': column.name, class: css_classes) }= datagrid_value(grid, column, asset)
