.row-fluid.text-center.pb-3.my-2
  %ul.nav.nav-tabs
    %li.nav-item
      - active = active_tab == 'crawler'
      %a.nav-link{ href: active ? '#' : pull_index_path, class: active ? 'active' : nil }
        = t('data_import.calendar.crawler_status_page_title')
    %li.nav-item
      - active = active_tab == 'calendar'
      %a.nav-link{ href: active ? '#' : pull_calendar_files_path, class: active ? 'active' : nil }
        = t('data_import.calendar.calendar_files_page_title')
    %li.nav-item
      - active = active_tab == 'results'
      %a.nav-link{ href: active ? '#' : pull_result_files_path, class: active ? 'active' : nil }
        = t('data_import.calendar.result_files_page_title')
