.wrapper-body
  .spacer-left

  .main-content
    = render(partial: 'top_header', locals: { api_uses_count: @api_uses_count,
             iqs_count: @iqs_count, issues_count: @issues_count, users_count: @users_count })
    = render(partial: 'data_import')
    = render(partial: 'manage_entities')

    %section.fixed-bottom#footer
      = render(Footer::MainComponent.new)

  .spacer-right
