.wrapper-body
  .spacer-left

  .main-content
    .row-fluid.m-5
      TO-DO
    .row-fluid
      %p &nbsp;

    %section.fixed-bottom#footer
      = render(Footer::MainComponent.new)

  .spacer-right
