%span.d-flex.my-1.justify-content-center
  = I18n.t("issues.status_#{status}")
  &nbsp;
  .fa.fa-arrow-right.pt-1.mx-2
  &nbsp;
  = render(Issue::StatusButtonsComponent.new(asset_id: issue_id, asset_status: status))
