/**
      === DATAGRID customizations ===
*/
#data-grid td.team_name {
  font-size: 0.75rem;
}

#data-grid td.managers_lookup,
#data-grid td.badges_lookup,
#data-grid td.tas_lookup,
#data-grid td.team_lookup,
#data-grid td.swimmer_lookup,
#data-grid td.meeting_lookup {
  text-align: center;
}

th.ordered, td.ordered {
    background-color: #cebca630;
}

th.ordered.asc a.asc {
    font-weight: bold;
    color: #eab000;
}

th.ordered.desc a.desc {
    font-weight: bold;
    color: #eab000;
}

.table thead tr th {
    font-size: 0.8rem;
    font-weight: normal;
}

#data-grid .datagrid-actions {
    padding: 0px;
    text-align: center !important;
}
#data-grid .priority {
    padding: 0px;
    text-align: center !important;
}
#data-grid .status {
    padding-left: 0.3em;
    padding-right: 0.3em;
    text-align: center !important;
}
#data-grid .created_at {
    font-size: 0.7rem;
    text-align: center !important;
}
