// Place all the styles related to the data_fix controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.result-detail-card {
  line-height: 0.9;
}

.lap-swimmers {
  font-size: 0.6rem;
}
.lap-timings {
  font-size: 0.6rem;
}
