th.ordered, td.ordered {
    background-color: #cebca630;
}

th.ordered.asc a.asc {
    font-weight: bold;
    color: #eab000;
}

th.ordered.desc a.desc {
    font-weight: bold;
    color: #eab000;
}

.table thead tr th {
    font-size: 0.8rem;
    font-weight: normal;
}
