.modal#modal-progress{ 'aria-hidden': 'true', 'aria-labelledby': 'modal-progress',
                       role: 'dialog', tabindex: '-1' }
  .modal-dialog.modal-dialog-centered.modal-lg
    .modal-content
      .m-2#progress-msg
        Loading...
      .progress
        .progress-bar#di-progress{ role: 'progressbar', 'aria-valuenow': '0',
                                   'aria-valuemin': '0', 'aria-valuemax': '100',
                                   style: 'width: 0%', data: { value: 0, total: 100 } } 0%
