.wrapper-body
  .main-content
    %section.my-2#title-box
      .container.bg-light-blue.pt-2.shadow-box#file-name-box
        .row-fluid.text-center
          %h5
            = @file_path
    %section.my-2#prepare-file
      .row-fluid
        %pre
          = debug @parsed_json.inspect

          / TODO
