= link_to('#grid-edit-modal', class: 'btn btn-sm btn-outline-success', role: 'button',
          data: { controller: 'grid-edit', 'grid-edit-modal-id-value' => 'grid-edit-modal',
          'grid-edit-payload-value' => @asset_row.to_json, toggle: 'modal',
          'grid-edit-url-value' => url_for(only_path: true, controller: @controller_name, action: :create),
          'grid-edit-modal-edit-title-value' => I18n.t('datagrid.edit_modal.edit_title'),
          'grid-edit-modal-create-title-value' => I18n.t('datagrid.edit_modal.create_title'),
          action: 'click->grid-edit#handleEdit' }) do
  %i.fa.fa-plus
