= link_to(url_for(url_to_params),
          data: { toggle: 'tooltip', title: I18n.t('datagrid.csv_export.btn_tooltip') },
          class: 'btn btn-sm btn-outline-primary', role: 'button') do
  %span
    CSV
    %i.fa.fa-download
