.row.btn-toolbar.d-flex.justify-content-center
  - if @edit
    .btn-group.mx-1.my-0
      = render(Grid::RowEditButtonComponent.new(asset_row: @asset_row, controller_name: @controller_name))
  - if @destroy
    .btn-group.mx-1.my-0
      = render(Grid::RowDeleteButtonComponent.new(asset_row: @asset_row, controller_name: @controller_name,
                                                  label_method: @label_method))
