%button.btn.btn-outline-primary.btn-sm{ 'aria-controls' => 'select-toggle', type: 'button',
        data: { toggle: 'tooltip', title: I18n.t('dashboard.toggle_selection') },
        onclick: "$(\"input[type='checkbox'].grid-selector\").click();" }
  %i.fa.fa-check-square-o
